body {
	font-family:sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
h1, h2 {
	font-family: 'Bitter', serif;
}
h1 {
	font-size: 50px;
	font-weight: bold;
	margin-top:0;
	margin-bottom:5px;
	text-align:center;
}
h2 {
	font-size:30px;
	font-weight:normal;
	margin-bottom:0;
	margin-top:0;
	padding-top:40px;
	text-align:center;
	color:#FFF;
}
h3 {
	font-weight:normal;
	text-align:center;
	margin:0 0 40px 0;
}
a, a:active, a:visited {
	color:#2178A3;
}
a:hover {
	color:#62A7C4;
}
form {
	display:block;
	margin:20px auto;
	max-width:400px;
	padding:20px;
	color:#FFF;
	background-color:#62A7C4;
}
label {
	display:inline-block;
	width:150px;
	margin-right:20px;
	vertical-align:middle;
}
input[type="text"] {
	display:inline-block;
  	width: 230px;
  	padding: 10px;
  	font-size: inherit;
  	font-family: sans-serif;
  	border: 0;
}
input[type="submit"], input[type="button"], a.button {
	background-color:#FFF;
	color:#000;
	padding:5px;
	border: 5px solid #FFF;
	text-decoration:none;
	display:block;
	font-size:inherit;
	margin:10px auto;
}
input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
	border: 5px solid #DDD;
}
input[type="submit"]:disabled, input[type="button"]:disabled {
	border: 5px solid #CCC;
	background-color:#CCC;
	color:#555;
	opacity:0.4;
}
input[type="checkbox"] {
  display:none;
}
.checkbox {
  width:15px;
  height:15px;
  border: 5px solid #FFF;
  margin:5px 0;
  background-color:#FFF;
  display:inline-block;
  vertical-align:middle;
}
input[type="checkbox"]:checked + .checkbox {
  background-color:#2178A3;
}
.break {
	height:10px;
}
#header {
	padding:40px;
	background-color:#FFF;
	color:#000;
}
#words {
	background-color: #62A7C4;
}
#content {
	padding:20px 0 30px 0;
	max-width:1000px;
	margin:0 auto;
	text-align:center;
	color:#FFF;
}
#content p {
	font-style: italic;
}
.word {
	display:inline-block;
	padding:12px;
	margin:7px;
	background:#FFF;
	background:rgba(255,255,255,0.5);
	color: #000;
}
input[type="submit"] {
	width:200px;
	height:50px;
}
#footer {
	padding:40px;
	background-color:#FFF;
	color:#000;
	text-align:center;
	font-size:17px;
}
a.github {
	background-color:#62A7C4;
	display:block;
	padding:15px;
	margin:15px auto;
	width:200px;
	color:#FFF;
	text-decoration:none;
}
a.github:hover {
	background-color:#2178A3;
	color:#FFF;
}

@media all and (max-width: 600px) {
	h1 {
		font-size:30px;
	}
	form {
		margin:10px auto;
	}
	input[type="text"] {
		width:100%;
	}
	label {
		width:75%;
	}
	input[type="submit"] {
		width:auto;
		height:auto;
	}
}